header
  height: 60px

.welcome-screen
  text-align: center

.navbar 
  background-color: $lightblue
  width: 100%
  color: $darkblue
  
  *
    text-align: center

.play-btn
  width: 150px
  height: 40px
  border-radius: 8px
  margin: auto
  background-color: $lightblue
  color: $darkblue
  border: 1px solid $teal
  font-weight: bold
  font-size: 20px